.CheckScamsPage{
    /* padding-top: 100px; */
    /* max-width: 800px; */
    margin: auto;
    align-items: center;
    justify-content: center;
}

.check-scam-header {
    background-color: #203F9D;
    padding-top: 80px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
}

.check-scam-header h1 {
    /* padding-top: 20px; */
    margin-bottom: 0%;
}

