nav {
    background-color: #203F9D;
    padding: 1rem;
    color: #fff;
    top: 0;
    display: flex;
    position: fixed;
    /* Makes the header fixed at the top */
    align-items: center;
    /* Aligns items (icon and links) vertically centered */
    width: 100%;
    /* Ensures the header spans the full width of the page */
    z-index: 1000;
    /* Ensures the header stays above other layers */
}

.nav-text {
    margin: 0%;
}

.nav-icon {
    height: 40px;
    width: 40px;
    /* padding-left: 1rm; */
    margin-left: 1rem;
    /* Adds space between the icon and the navigation links */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    /* Centers the navigation links */
}

nav ul li {
    margin: 0 1rem;
    /* Adds spacing between the navigation links */
}

nav ul li a {
    color: #fff;
    /* Default text color */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li .active-link {
    color: #e7782e;
    /* This will apply the hover color when hovered or active */
}

/* Add this new rule to specifically target active links */
nav ul li a.active-link {
    color: #e7782e;
    /* Keep the color for the active (clicked) state */
}

.nav-icon-link {
    text-decoration: none;
}

.nav-icon-link p {
    color: #ffffff;
}