.text-content img {
    max-width: 90%;
    height: 115px;
    object-fit: contain;
    /* Smooth resizing */
}

.clickable-box p {
    margin: 0;
}

.indentify-scams-header {
    background-color: #203F9D;
    padding-top: 80px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
}

.indentify-scams-header h1 {
    margin-bottom: 0%;
}

.scams-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* Center the container horizontally */
    padding: 40px 0;
    max-width: 70%;
    /* Adjust the maximum width to control the container size */

}

.clickable-box {
    width: 200px;
    height: 200px;
    /* flex: 1 1 calc(33.333% - 20px); */
    /* 3 items per row with space around */
    background-color: #f0f7ff;
    /* transition: background-color 0.3s ease; */
    transition: transform 0.3s ease;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Center content vertically within the box */
    padding: 15px;
    margin: 15px;
    /* Adjust spacing between boxes */
    cursor: pointer;
    border-radius: 40px;
}

.clickable-box:hover {
    background-color: #dadada;
    transform: translateY(-10px);
}

.text-content {
    text-align: center;
    /* Center-align the text */
}

.clickable-box h3 {
    margin: 15px 0;
    font-size: 22px;
    font-weight: bold;
    /* Add more space between the text and the icon */
}

@media (max-width: 768px) {
    .clickable-box {
        width: 150px;
        height: 150px;
    }
    .text-content img {
        max-width: 90%;
        height: 80px;
        object-fit: contain;
    }
    .clickable-box h3 {
        margin: 5px 0;
        font-size: 20px;
        font-weight: bold;
        /* Add more space between the text and the icon */
    }
}

@media (max-width: 480px) {
    .clickable-box {
        width: 100px;
        height: 100px;
    }
    .text-content img {
        max-width: 90%;
        height: 40px;
        object-fit: contain;
    }
    .clickable-box h3 {
        margin: 5px 0;
        font-size: 16px;
        font-weight: bold;
        /* Add more space between the text and the icon */
    }
}