.QuizPage{
    /* padding-top: 100px; */
    /* max-width: 800px; */
    margin: auto;
    align-items: center;
    justify-content: center;
    color: #4F67A6;
}

.quiz-header {
    background-color: #203F9D;
    padding-top: 80px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
}

.quiz-header h1 {
    /* padding-top: 20px; */
    margin-bottom: 0%;
}


.quiz-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px; /* space between the cards */
    margin: 30px;
}

.quiz-card {
    display: flex;
    background-color: #f0f7ff;
    color: #4F67A6;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 330px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.quiz-tex-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-card:hover {
    transform: translateY(-10px);
    background-color: #dadada;
}

.quiz-icon {
    width: 110px;
    height: 130px;
    margin: 10px;
}

.quiz-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.quiz-button {
    padding: 10px;
}

/* .quiz-button:hover {
    background-color: #357abd;
} */

.quiz-page-img{
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 500px; */
    margin: 70px;
}

.quiz-page-img img{
    width: 800px;
    border-radius: 40px;
    box-shadow: 0px 0px 30px 10px rgb(0, 14, 41, 0.1);
}