.ScamsPage {
    padding: 20px;
    max-width: 1200px; 
    margin: auto;
    background-color: #fff; 
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.ScamsPage h2 {
    font-size: 2rem;
    margin-top: 60px;
    margin-bottom: 20px;
    color: #005ea5; 
    border-bottom: 2px solid #005ea5;
    padding-bottom: 10px;
}

.ScamsPage h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #005ea5;
    border-bottom: 1px solid #ddd; 
    padding-bottom: 8px;
}

.ScamsPage p {
    font-size: 1rem;
    line-height: 1.6; 
    margin-bottom: 20px;
    color: #333;
    text-align: left;
}

.ScamsPage a {
    color: #005ea5; 
    text-decoration: none;
}

.ScamsPage a:hover {
    text-decoration: underline; 
}

.scam-identification h2, .protect-yourself h2, .real-life-story h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.scam-identification h3, .protect-yourself h3, .real-life-story h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.scam-identification p, .protect-yourself p, .real-life-story p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
}

.ScamsPage h2 + p,
.ScamsPage h2 + ul,
.ScamsPage h3 + p,
.ScamsPage h3 + ul {
    text-align: left; /* Paragraphs and lists below each heading are left-aligned */
}

.ScamsPage h3+ul li {
    line-height: 1.5;
    /* Sets the line spacing within list items */
    margin-bottom: 10px;
    /* Control the spacing between each list item */
}

.example-image {
    max-width: 100%; /* Image will scale down to fit the container */
    height: auto;    /* Maintain the aspect ratio */
    display: block;  /* Ensure there’s no extra space below the image */
    margin: 20px 0;  /* Optional: Add some margin around the images */
}
