.Report-Page {
    /* padding-top: 100px; */
    /* padding: 20px; */
    /* max-width: 800px; */
    margin: auto;
    align-items: center;
    justify-content: center;

}

.Report-Page a {
    /* padding-top: 100px; */
    /* padding: 20px; */
    /* max-width: 800px; */
    color: #FAFF00;
}

.report-scams-header p {
    /* font-size: 18px; */
    line-height: 1.5;
    /* padding: 20px; */
    max-width: 800px;
    margin-bottom: 20px;
}

.report-scams-header {
    background-color: #203F9D;
    padding-top: 80px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
}

.report-scams-header h1 {
    margin-bottom: 0%;
}

.report-scam-step {
    padding-top: 20px;
    /* margin-bottom: 40px; */
    padding-bottom: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    /* align-items: center; */
    justify-content: center;
    max-width: 800px;
    color: #4F67A6;
}

.report-scam-step h2 {
    /* font-size: 1.5rem; */
    margin-bottom: 15px;
    text-align: center;
}

.report-scam-step p {
    /* margin-bottom: 10px; */
    /* font-size: 18px; */
    /* line-height: 1.5; */
    text-align: left;
}

.how-to-report-scam {
    /* margin-bottom: 40px; */
    background-color: #203F9D;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.how-to-report-scam  h3 {
    /* font-size: 1.5rem; */
    margin-bottom: 10px;
}

.how-to-report-scam  p {
    /* font-size: 1rem; */
    /* font-size: 18px; */
    /* margin-bottom: 2px; */
    /* line-height: 1.5; */
    text-align: left;
    max-width: 800px;
    /* margin-bottom: 10px; */
}

.how-to-report-scam li {
    /* width: 100%; */
    margin-bottom: 7px;
    /* display: block; */
    /* text-align: center; */
}

.why-report-scam {
    padding-top: 20px;
    /* margin-bottom: 40px; */
    padding-bottom: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    color: #4F67A6;
}

.why-report-scam h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.why-report-scam p {
    /* font-size: 18px; */
    line-height: 1.5;
    text-align: left;
}

.why-report-scam button {
    font-size: 18px;
    max-width: 200px;
    margin: 15px;
}

.after-report-scam {
    padding-top: 20px;
    /* margin-bottom: 40px; */
    padding-bottom: 20px;
    background-color: #203F9D;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    align-items: center;
    justify-content: center;
    /* max-width: 800px; */
}

.after-report-scam h3 {
    /* font-size: 1.5rem; */
    margin-bottom: 15px;
}

.after-report-scam p {
    /* font-size: 18px; */
    line-height: 1.5;
    text-align: left;
    max-width: 800px;
}

.after-report-scam button {
    font-size: 18px;
    max-width: 200px;
    margin: 15px;
}