.ScamRiskPage {
    margin: auto;
    align-items: center;
    justify-content: center;
}

.main-session-assessment {
    max-width: 800px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.scam-risk-header {
    background-color: #203F9D;
    padding-top: 80px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
}

.scam-risk-header h1 {
    /* font-size: 2rem; */
    margin-bottom: 0%;
}

.scam-risk-header p {
    font-size: 1.5rem;
}

.analysis-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 30px;
    color: #4F67A6;
}

.loading {
    font-size: 1.5rem;
    color: #555;
    text-align: center;
    margin-top: 20px;
}

.risk-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
    grid-gap: 20px;
    /* Space between the input fields */
    padding: 20px;
    background-color: #f0f7ff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-risk-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-columns: 1fr; */
    /* 2 columns */
    grid-gap: 20px;
    /* Space between the input fields */
    padding: 20px;
    background-color: #f0f7ff;
    width: 100%;
    max-width: 280px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.form-group {
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    color: #4F67A6;
    /* margin: 5px; */
}

.submit-btn {
    grid-column: span 2;
    padding: 12px;
    font-size: 1rem;
    /* background-color: #4F67A6; */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.error-message {
    grid-column: span 2;
    align-self: center;
    /* Align error message vertically */
    color: red;
    font-size: 0.9rem;
}

.scam-chart {
    margin-top: 30px;
    text-align: center;
}