.what-to-do-Page {
    /* padding-top: 100px; */
    /* padding: 20px; */
    /* max-width: 800px; */
    margin: auto;
    align-items: center;
    justify-content: center;

}

.what-to-do-header p {
    font-size: 18px;
    line-height: 1.5;
    /* padding: 20px; */
    max-width: 800px;
    margin-bottom: 20px;
}

.what-to-do-header {
    background-color: #0579DE;
    padding-top: 80px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
}

.what-to-do-header button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    position: absolute; /* Position it relative to the page */
    top: 110px; /* Distance from the top of the page */
    left: 80px; /* Distance from the left side of the page */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    z-index: 1; /* Ensure it's above other elements */
}

.what-to-do-header button:hover {
    background-color: #BADDF1;
    color: rgb(0, 0, 0);
    position: absolute; /* Position it relative to the page */
    top: 110px; /* Distance from the top of the page */
    left: 80px; /* Distance from the left side of the page */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    z-index: 1; /* Ensure it's above other elements */
}

.what-to-do-header h2 {
    /* padding-top: 20px; */
    font-size: 2rem;
    /* margin-bottom: 20px; */
}

.what-to-do-step1 {
    padding-top: 20px;
    /* margin-bottom: 40px; */
    padding-bottom: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    /* align-items: center; */
    justify-content: center;
    max-width: 800px;
}

.what-to-do-step1 h2 {
    /* font-size: 1.5rem; */
    margin-bottom: 15px;
    text-align: center;
}

.what-to-do-step1 p {
    /* margin-bottom: 10px; */
    font-size: 18px;
    /* line-height: 1.5; */
    text-align: left;
}

.what-to-do-step2 {
    /* margin-bottom: 40px; */
    background-color: #0579DE;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.what-to-do-step2  h3 {
    /* font-size: 1.5rem; */
    margin-bottom: 10px;
}

.what-to-do-step2  p {
    /* font-size: 1rem; */
    font-size: 18px;
    /* margin-bottom: 2px; */
    /* line-height: 1.5; */
    text-align: left;
    max-width: 800px;
    /* margin-bottom: 10px; */
}

.what-to-do-step2 li {
    /* width: 100%; */
    margin-bottom: 7px;
    /* display: block; */
    /* text-align: center; */
}

.what-to-do-step3 {
    padding-top: 20px;
    /* margin-bottom: 40px; */
    padding-bottom: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}

.what-to-do-step3 h3 {
    /* font-size: 1.5rem; */
    margin-bottom: 15px;
}

.what-to-do-step3 p {
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
}

.what-to-do-step4 {
    padding-top: 20px;
    /* margin-bottom: 40px; */
    padding-bottom: 30px;
    background-color: #0579DE;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    align-items: center;
    justify-content: center;
    /* max-width: 800px; */
}

.what-to-do-step4 h3 {
    /* font-size: 1.5rem; */
    margin-bottom: 15px;
    /* padding-top: 20px; */
}

.what-to-do-step4 p {
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 20px;
    margin-bottom: 0;
    text-align: left;
    max-width: 800px;
}
