.WordCloudPage {
    /* padding-top: 100px; */
    /* padding: 20px; */
    /* max-width: 800px; */
    margin: auto;
    align-items: center;
    justify-content: center;
    color: #4F67A6;
}

.wordCloud-header {
    background-color: #203F9D;
    padding-top: 80px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
}

.wordCloud-header h1 {
    margin-bottom: 0%;
}

.wordCloud-header button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    position: absolute;
    /* Position it relative to the page */
    top: 110px;
    /* Distance from the top of the page */
    left: 80px;
    /* Distance from the left side of the page */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
    /* Ensure it's above other elements */
}

.wordCloud-header button:hover {
    background-color: #BADDF1;
    color: rgb(0, 0, 0);
    position: absolute;
    /* Position it relative to the page */
    top: 110px;
    /* Distance from the top of the page */
    left: 80px;
    /* Distance from the left side of the page */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
    /* Ensure it's above other elements */
}

.wordCloud-session {
    padding: 20px 0px;
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    margin: auto;
    /* text-align: left; */
    /* align-items: center; */
    justify-content: center;
    width: 60%;
}

.wordCloud-footer{
    /* margin: 40px 0px; */
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wordCloud-footer-container {
    background-color: #203F9D;
    color: rgb(255, 255, 255);
}

.wordCloud-footer-btn-group {
    display: flex;
    gap: 60px;
}

.wordCloud-footer-btn-group button {
    background-color: #EDF5FF;
    color: #000;
    padding: 12px 15px;
}

.wordCloud-footer-btn-group button:hover {
    background-color: #BADDF1;
    /* Slightly darker on hover */
}