.Side-menu {
    position: fixed;
    top: 50%;
    /* Vertically center the menu */
    /* left: 10px; */
    /* Position it on the left side */
    transform: translateY(-50%);
    /* Center vertically by shifting up half of its own height */
    width: 160px;
    /* Adjust width as needed */
    background-color: #f0f0f0;
    /* Light background color */
    color: #4F67A6;
    /* Default text color */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    /* Add scroll if content overflows */
    border-radius: 8px;
    /* Optional: Rounded corners */
    text-align: center;
}

.Side-menu h2 {
    font-size: 21px;
}

@media screen and (max-width: 1200px) {
    .Side-menu {
        display: none;
    }
}

.Side-menu ul {
    list-style: none;
    width: 100%;
    display: block;
    /* text-align: center; */
    /* Center the content inside the ul */
}

.Side-menu li {
    /* width: 100%; */
    margin-bottom: 7px;
    display: block;
    text-align: center;
}

.Side-menu span {
    color: #4F67A6;
    text-decoration: underline;
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
    padding: 5px 0px;
    /* border-radius: 5px; */
    transition: background-color 0.3s;
    cursor: pointer;
    font-weight: bold;
}

.Side-menu a:hover {
    background-color: #c0c0c0;
    color: rgb(65, 123, 218);
}


.Scams-Page {
    /* padding-top: 100px; */
    /* padding: 20px; */
    /* max-width: 800px; */
    margin: auto;
    align-items: center;
    justify-content: center;
    color: #4F67A6;

}

.Scams-Page h4 {
    font-size: 20px;
    margin: 10px 0px;
}

.scams-header p {
    /* font-size: 18px; */
    line-height: 1.5;
    /* padding: 20px; */
    max-width: 800px;
    margin-bottom: 20px;
}

.scams-header {
    background-color: #203F9D;
    padding-top: 80px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
}

.scams-header h2 {
    /* padding-top: 20px; */
    font-size: 2rem;
    /* margin-bottom: 20px; */
}

.scams-header button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    position: absolute; /* Position it relative to the page */
    top: 100px; /* Distance from the top of the page */
    left: 80px; /* Distance from the left side of the page */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    z-index: 1; /* Ensure it's above other elements */
}

.scams-header button:hover {
    background-color: #BADDF1;
    color: rgb(0, 0, 0);
    position: absolute; /* Position it relative to the page */
    top: 110px; /* Distance from the top of the page */
    left: 80px; /* Distance from the left side of the page */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    z-index: 1; /* Ensure it's above other elements */
}

.scam-identification {
    padding-top: 20px;
    /* margin-bottom: 40px; */
    padding-bottom: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    /* align-items: center; */
    justify-content: center;
    max-width: 800px;
}

.scam-identification h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
}

.scam-identification p {
    margin: 15px 0px;
    /* font-size: 18px; */
    /* line-height: 1.5; */
    text-align: left;
}

.scam-identification li {
    /* width: 100%; */
    margin-bottom: 7px;
    /* display: block; */
    /* text-align: center; */ 
}

.scam-identification h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

.scam-identification h5 {
    font-size: 18px;
    margin: 15px 0px;
}

.protect-yourself {
    /* margin-bottom: 40px; */
    background-color: #203F9D;
    padding-top: 20px;
    padding-bottom: 20px;
    /* display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    justify-content: center; */
    color: #ffffff;
    /* align-items: center; */
}

.protect-yourself-contain{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    /* align-items: center; */
    justify-content: center;
    max-width: 800px;
}

.protect-yourself a {
    /* padding-top: 100px; */
    /* padding: 20px; */
    /* max-width: 800px; */
    color: #FAFF00;
}

.protect-yourself h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.protect-yourself p {
    /* font-size: 1rem; */
    /* font-size: 18px; */
    /* margin-bottom: 2px; */
    /* line-height: 1.5; */
    text-align: left;
    /* margin-bottom: 10px; */
}

.protect-yourself li {
    /* width: 100%; */
    margin-bottom: 7px;
    /* display: block; */
    /* text-align: center; */
}

.real-life-story {
    padding-top: 20px;
    /* margin-bottom: 40px; */
    padding-bottom: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}

.real-life-story h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.real-life-story p {
    /* font-size: 18px; */
    line-height: 1.5;
    text-align: left;
}

.real-life-story button {
    font-size: 18px;
    max-width: 200px;
    margin: 15px;
}

.scam-example-img-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    max-width: 70%;
}

.example-image {
    max-width: 100%;
    /* Image will scale down to fit the container */
    height: auto;
    /* Maintain the aspect ratio */
    display: block;
    /* Ensure there’s no extra space below the image */
    margin: 20px 0;
    /* Optional: Add some margin around the images */
}


.identify-scams-footer{
    /* margin: 40px 0px; */
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.identify-scams-footer-container {
    background-color: #203F9D;
    color: rgb(255, 255, 255);
}

.identify-scams-footer-btn-group {
    display: flex;
    gap: 60px;
}

.identify-scams-footer-btn-group button {
    background-color: #EDF5FF;
    color: #000;
    padding: 12px 15px;
}

.identify-scams-footer-btn-group button:hover {
    background-color: #BADDF1;
    /* Slightly darker on hover */
}